<div class="ui container">
  <div class="ui stackable two column grid">
    <div class="column">
      <div class="footer">slyguy © 2016.
        Powered by <a href="http://meanjs.com">MeanJS Framework</a>.
      </div>
    </div>
    <div class="right aligned column">
      <i class="github icon"></i><a href="https://github.com/theslyone/voting-app" target="_blank">Github</a> /
      <i class="twitter icon"></i><a href="/site/legal/terms-of-use" target="_blank">Twitter</a> /
      <i class="facebook icon"></i><a href="/site/legal/terms-of-use" target="_blank">Facebook</a>
    </div>
  </div>
</div>
