<div class="ui container" ng-controller="HeaderController">
  <a ui-sref="home" class="header item">
    <img class="logo" src="./modules/core/client/img/brand/logo.png">
    Vote Now
  </a>
  <a ui-sref="home" class="item">Home</a>
  <div class="left menu" ng-if="menu.shouldRender(authentication.user);" ng-hide="true">
    <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
      <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
      <ul ng-switch-when="dropdown" class="dropdown-menu">
        <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
          <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
        </li>
      </ul>
      <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
    </li>
  </div>
  <div class="right menu" ng-hide="authentication.user">
    <a ui-sref-active="active" class="item" ui-sref="authentication.signup">Sign Up</a>
    <a ui-sref-active="active" class="item" ui-sref="authentication.signin">Sign In</a>
  </div>
  <div class="right menu" ng-show="authentication.user">
    <div class="ui simple dropdown item">
      <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="ui mini circular image" />
      <span ng-bind="authentication.user.displayName"></span> <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" ui-sref="settings.profile">Edit Profile</a>
        <a class="item" ui-sref="settings.picture">Change Profile Picture</a>
        <a class="item" ui-sref="settings.password" ng-show="authentication.user.provider === 'local'">Change Password</a>
        <a class="item" ui-sref="settings.accounts">Manage Social Accounts</a>
        <div class="divider"></div>
        <a class="item" href="/api/auth/signout" target="_self">Signout</a>
      </div>
    </div>
  </div>
</div>
