<section ng-controller="HomeController">
  <div id="banner" class="ui basic attached segment">
    <div class="ui caption left aligned container">
      <div class="ui huge header">Vote Now</div>
      <p>Howdy, Create custom polls and view. live results.</p>
      <p></p>
      <div class="ui hidden divider"></div>
      <div class="ui small inverted buttons">
        <a class="ui green button" href="/authentication/signup" ng-hide="authentication.user">Sign Up</a>
        <a class="ui blue button" ui-sref="polls.create" ng-show="authentication.user">New Poll</a>
        <a class="ui red button" ui-sref="polls.list" ng-show="authentication.user">My Polls</a>
      </div>
    </div>
  </div>
  <div class="ui container">
    <div class="ui three column stackable doubling vertically padded grid">
      <div class="column">
        <h2 class="ui red header"><strong>M</strong>ongoDB</h2>
        <p>
          <a target="_blank" href="http://mongodb.org/">MongoDB</a> is a NoSQL database. MongoDB's
          <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a>
          is the place to get started with NoSQL and MongoDB.
        </p>
      </div>
      <div class="column">
        <h2 class="ui blue header"><strong>E</strong>xpress</h2>
        <p><a target="_blank" href="http://expressjs.com/"> Express</a> is a NodeJS server-side application web framework. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
      </div>
      <div class="column">
        <h2 class="ui green header"><strong>A</strong>ngularJS</h2>
        <p><a target="_blank" href="http://angularjs.org/">AngularJS</a> is client-side web application framework. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
      </div>
    </div>
  </div>
</section>
