<section class="ui container">
  <div class="page-header">
    <h1>Polls</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="vote in vm.votes"
       ui-sref="votes.view({ voteId: vote._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="vote.created | date:'mediumDate'"></span>
        by
        <span ng-if="vote.user" ng-bind="vote.user.displayName"></span>
        <span ng-if="!vote.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="vote.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.votes.$resolved && !vm.votes.length">
    No Votes yet, why don't you <a ui-sref="votes.create">create one</a>?
  </div>
</section>
