<section class="ui vertically padded container">
  <div class="ui two column stackable grid">
    <div class="center aligned column poll">
      <h1 ng-bind="vm.vote.name"></h1>
      <small>
        <em class="text-muted">
          Posted on
          <span ng-bind="vm.vote.created | date:'mediumDate'"></span>
          by
          <span ng-if="vm.vote.user"
                ng-bind="vm.vote.user.displayName"></span>
          <span ng-if="!vm.vote.user">Deleted User</span>
        </em>
      </small>
      <div class="ui floated right" ng-show="vm.vote.isCurrentUserOwner">
        <a class="ui mini blue button" ui-sref="votes.edit({ voteId: vm.vote._id })">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="ui mini red button" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
    <div class="column options">
      <form name="vm.form.voteForm" class="ui mini form" ng-submit="vm.voteNow(vm.form.voteForm.$valid)">
        <div class="grouped fields">
          <div ng-repeat="option in vm.vote.options" class="ui red stackable segment field option">
            <div class="ui radio checkbox">
              <input type="radio" id="{{option._id}}" name="option" required>
              <label for="{{option._id}}">{{option.text}}</label>
            </div>
          </div>
        </div>
        <button class="ui green button" type="submit">Vote</button>
      </form>
    </div>
  </div>
</section>
